<h3>Welcome {{auth.getUsername()}}</h3>
<mat-tab-group >
    <mat-tab label="Coding Questions Submitted">
            <div [hidden]="codingQuestions || errMess" >
                    <mat-spinner><h4>Loading Tests . . . Please Wait</h4></mat-spinner>
                </div>
                <div *ngIf="errMess">
                    <h2>Error</h2>
                    <h4>{{errMess}}</h4>
                </div>
        <div *ngFor="let cques of codingQuestions">
            <app-markdown [data]="cques.description"></app-markdown><br><hr>

        </div>
    </mat-tab>
    <mat-tab label="Mcq Questions Submitted">
            <div [hidden]="mcqQuestions || mcqErrMess" >
                    <mat-spinner><h4>Loading Tests . . . Please Wait</h4></mat-spinner>
                </div>
                <div *ngIf="mcqErrMess">
                    <h2>Error</h2>
                    <h4>{{mcqErrMess}}</h4>
                </div>
        <div *ngFor="let mcq_ques of mcqQuestions">
            
            <app-markdown [data]='mcq_ques.description'></app-markdown><br>
            <mat-radio-group>
                <mat-radio-button value="mcq_ques.optionA">{{mcq_ques.optionA}}</mat-radio-button><br>
                <mat-radio-button value="mcq_ques.optionB">{{mcq_ques.optionB}}</mat-radio-button><br>
                <mat-radio-button value="mcq_ques.optionC">{{mcq_ques.optionC}}</mat-radio-button><br>
                <mat-radio-button value="mcq_ques.optionD">{{mcq_ques.optionD}}</mat-radio-button><br>
            </mat-radio-group><br>
            <h4 style="color: green;">Answer : {{mcq_ques.answer}}</h4>
            <hr>


        </div>
    </mat-tab>
</mat-tab-group>