<div fxFlexLayout >
  <div fxFlex="100%" fxHide.xs="true" >
      <mat-toolbar color="primary" >
          <span><img src="/assets/images/logo.png" height=30 width=41></span>
          <div style="align-content: right">
            <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
            <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
            <a mat-button routerLink="/admin" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Admin</a>
            <a mat-button routerLink="/mcq" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> MCQ</a>
            <a mat-button routerLink="/coding" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Coding</a>
            <a mat-button routerLink="/markPreview" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> MarkPreview</a>
        </div>
      </mat-toolbar>
  </div>

</div>