<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<router-outlet></router-outlet>
<div fxLayout="row" fxLayoutGap="2vh" fxLayout.xs="column" fxLayoutGap.xs="0.5vh">
  <div fxFlex="25%" fxFlex.xs="0%"  fxHide.xs="false" style="background-color: blue;">
  <h1>side nav</h1>
  </div>
  <div fxFlex="75%" fxFlex.xs="100%" style="background-color:hotpink;">
      <h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1><h1>content</h1>
  </div>

</div>

<app-footer></app-footer>
